.map {
    font-size: 108px;
    line-height: 1.2em;
}
.map > div > div {
    height: 225px;
    padding-top: 50px;
    text-align: center;
}
.map.checkered > div:nth-child(odd) > div:nth-child(odd),
.map.checkered > div:nth-child(even) > div:nth-child(even) {
    background-color: #f8f8f8;
}
