.map {
    font-size: 144px;
    line-height: 1.2em;
    cursor: pointer;
}
map-tile {
    border: 3px solid #ffffff;
    height: 225px;
    padding-top: 36px;
    text-align: center;
}
.map.checkered map-tile.map-tile-alt-color {
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}
.map.checkered map-tile.map-tile-alt-color.map-tile-active,
map-tile.map-tile-active {
    border-color: #337ab7;
}
.goal {
    position: relative;
    height: 40px;
}
.goal .goal-title {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 20px;
    padding: 0 5px;
}
.goal .goal-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    background-color: #dddddd;
}
.goal[data-grade="A"] {
    color: white;
}
.goal[data-grade="A"] .goal-progress {
    background-color: green;
    color: white;
}
.goal[data-grade="B"] .goal-progress {
    background-color: yellow;
}
.goal[data-grade="C"] .goal-progress {
    background-color: orange;
}
.goal[data-grade="D"] {
    color: white;
}
.goal[data-grade="D"] .goal-progress {
    background-color: red;
}
.goal[data-grade="F"] {
    color: white;
}
.goal[data-grade="F"] div {
    background-color: black;
}
timeout-button {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    border: 1px solid #337ab7;
    color: #337ab7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
timeout-button:hover {
    text-decoration: underline;
    cursor: pointer;
}
timeout-button.disabled {
    border-color: #999999;
    color: #999999;
    text-decoration: none;
    cursor: auto;
}
timeout-button .button-cooldown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #dddddd;
}
timeout-button .button-cooldown span {
    display: block;
    white-space: nowrap;
    height: 30px;
    padding: 5px 10px;
}
