<div class="panel panel-default">
    <div class="panel-heading">
        <!--<div class="btn-group pull-right" role="group">-->
        <!--<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>-->
        <!--<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>-->
        <!--</div>-->
        <h2 class="panel-title">Map</h2>
    </div>
    <div class="panel-body map checkered">
        <div
                ng-repeat="tileRow in mapPanel.tileRows"
                class="row">
            <div
                    ng-repeat="tile in tileRow"
                    class="col-xs-6">
                <span
                        class="glyphicon glyphicon-{{tile.glyphicon || 'remove'}}"
                        aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>
