<div class="panel panel-primary">
    <div class="panel-heading">
        <!--<div class="btn-group pull-right" role="group">-->
        <!--<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>-->
        <!--<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>-->
        <!--</div>-->
        <h2 class="panel-title">Actions</h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><a href ng-click="actionPanel.clickStudy()">Study</a></li>
        <li class="list-group-item"><a href ng-click="actionPanel.clickChores()">Chores<span ng-if="actionPanel.chorePay"> (${{actionPanel.chorePay}})</span></a></li>
    </ul>
</div>
