<div class="panel panel-primary">
    <div class="panel-heading">
        <!--<div class="btn-group pull-right" role="group">-->
        <!--<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>-->
        <!--<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></button>-->
        <!--</div>-->
        <h2 class="panel-title">Actions</h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <timeout-button
                    button-action="actionPanel.clickStudy()"
                    button-timeout="4500"
                    button-title="'Study'">
            </timeout-button>
        </li>
        <li class="list-group-item">
            <timeout-button
                    button-action="actionPanel.clickChores()"
                    button-timeout="6000"
                    button-title="'Chores' + (actionPanel.chorePay ? (' ($' + actionPanel.chorePay + ')') : '')">
            </timeout-button>
        </li>
        <li
                ng-if="live.money >= 100"
                class="list-group-item"><a href ng-click="actionPanel.clickStudy()">Buy BB-Gun (-$100)</a></li>
    </ul>
</div>
